# Ritual Chain (testnet)
NEXT_PUBLIC_RITUAL_RPC_URL=https://rpc.ritualfoundation.org

# Deployed SANCTUM contracts (chain 1979)
NEXT_PUBLIC_AEGIS_REGISTRY=0x38a9fCb26F3349910c6B3E84bdA146dDF5c08249
NEXT_PUBLIC_SILENTBID_POOL=0x3a605E5ceAb9870783bd33e8102d79E177Ad82b9
NEXT_PUBLIC_SENTINEL_UNDERWRITER=0xB914a815B711A52Eb908796Ad29bf7C0D358BbaC
